.addQuestion {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex-direction: column; 
}
.fileContainer{
  flex-direction: row;   
}
.Qicon {
  margin: auto;
  margin-right: 7px;
}
.Qicon :hover{
  color: black;
}
label {
  /* display: flex; */
  align-items: center;
  margin-bottom: 10px;
}

.rlable{
  display: flex;
  width: 70px;
  align-items: center;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

label.radio {
  /* display: flex; */
  align-items: center;
  gap: 5px;
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
.roundBtn1 {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: white;
  color:black ;
  border-width: 1px;
  border-color: black;
  cursor: pointer;
  margin-right: 15px;
}
.roundBtn2 {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: green;
  color:black ;
  border-width: 1px;
  border-color: black;
  cursor: pointer;
  margin-right: 15px;
}