.addQuestion {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex-direction: column; 
}

.fileContainer{
  flex-direction: row;   
}

label {
  /* display: flex; */
  align-items: center;
  margin-bottom: 10px;
}

.rlable{
  display: flex;
  align-items: center;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

label.radio {
  /* display: flex; */
  align-items: center;
  gap: 5px;
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}