#topNav .nav-link {
  color: white;
  font-weight: 600;
}

#topNav .nav-link:hover,
#topNav .nav-item>.active  {
  color: #88db3b; 
}

.message-box {
  width: 100%;
  background-repeat: 'no-repeat';
  background-image: url('http://cliparts.co/cliparts/M8i/AEe/M8iAEeaca.png') ;
}