.leftbar li {
    margin-top: 5px;
}
.BtnNormal{
    background-color: white;
    color: black;
}
.BtnClick{
    background-color:green;
    color: white;
}
.TextNormal{
    background-color: white;
    color: black;
}
.TextClick{
    background-color:white;
    color: rgb(1, 68, 44);
    text-decoration: underline;
    font-size: medium;
}