.leftbar li {
    margin-top: 5px;
}
.BtnNormal{
    background-color: white;
    color: black;
}
.BtnClick{
    background-color:#5DA110;
    color: white;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* số cột */
    grid-gap: 10px; /* khoảng cách giữa các hình */
    overflow: hidden;
  }
.addBtn{
    width: 100px;
    height: 50px;
    display:grid;
    margin: auto;
    background-color: #f8f8f8;
    margin-bottom: 20px;
}
/* .addBtn {
    display: flex;
    justify-content: center;
    align-items: center;
  } */
.text-input{
    height:100px;
    width:600px;
    align-items: center;
    margin:auto;
    flex-direction: row;
    display: flex;
}
.text-input2{
    width:600px;
    display:flex;
    align-items: center;
    margin:auto;
    margin-left: 10px;
    margin-bottom: 20px;
}
#TR{
    width: 100px;
    margin-left: 5px;
}
h3{
    margin: 0;
}
.question-item {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin: 10px;
    justify-content: center;
    
  
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
  }
.vocab-form {
    background-color:#f8f8f8;
    border-radius: 2%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.modal-container {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .table {
    border-collapse: separate;
    border-spacing: 0 15px;
  }
  
